@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-app-green: var(--color-green-500);
  --color-app-light-green: var(--color-green-400);
  --color-app-purple: var(--color-fuchsia-600);
  --color-app-cyan: var(--color-cyan-500);
  --color-app-light-cyan: var(--color-cyan-400);
  --color-app-destructive: var(--color-red-600);

  --color-app-secondary: var(--color-gray-200);
  --color-app-tertiary: #C8C8C8;

  --color-app-primary-text: var(--color-black);
}

@custom-variant hover (&:hover);

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}
